.header {
    position: relative;
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
}

h1 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #65737e;
    text-transform: uppercase;
}

.userIcon {
    position: relative;
    top: -0.6rem;
    z-index: 2;
    width: 80px;
    border-radius: 100px;
    border: 1px solid #ffffff;
    padding: 1rem 1.5rem;
    box-shadow: -5px 8px 10px rgba(0,0,0,0.3);
    background-color: #ffffff;
}

.body {
    position: relative;
    top: -4rem;
    height: 30rem;
    width: 75%;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center; 
    flex-direction: column;
    border-radius: 6px;
    box-shadow: -5px 8px 10px rgba(0,0,0,0.3);
    background-color:#ffffff;
    z-index: 1;
}

.form input {
    width: 15rem;
    height: 2.5rem;
    margin: 0.5rem;
    border: 0;
    border-radius: 6px;
    background-color:#65737e;
    color: #ffffff;
    padding-left: 1rem;
    font-size: 1rem;
 } 

 ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #ffffff;
    opacity: 1; /* Firefox */
  }
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #ffffff;
  }

  .button-form {
    display: flex;
    align-items: center;
    justify-content: center; 
    margin-top: 1.5rem;
  }

  .form__button {
    border: 0;
    border-radius: 10px;
    background-color: #65737e;
    color: #ffffff;
    text-transform: uppercase;
    padding: 0.7rem 1.6rem;
    font-size: 1rem;
    cursor: pointer;
  }

  .form__button:hover {
    scale: 105%;
    animation-duration: 500;
  }